<%- include ../includes/header %>

<div class="container py-5">
    <div class="alert alert-danger py-5" role="alert">
        <h4 class="alert-heading">404 Page Not Found</h4>
        <p>This page was not found</p>
        <hr>
        <p class="mb-0">The site configured at this address does not contain the requested page.</p>
    </div>
</div>

<%- include ../includes/footer %>