<%- include ../includes/header %>

<div class="container py-5">
    <div class="alert alert-danger py-5" role="alert">
        <h4 class="alert-heading">500 Internal server error</h4>
        <p>Server is not responding</p>
        <hr>
        <p class="mb-0">You can report a problem <a href="#">here</a></p>
    </div>
</div>

<%- include ../includes/footer %>